/*
Gites de Wallonie
Plone Documentation

Affinitic 2010
www.affinitic.be

-----------------------------------------
colonne1    colonne2     colonne3
  rien        titre        search engine
              menu         texte
              parution
-----------------------------------------           
              footer
*/

body{
margin:0;
background-color:#e4d8bb;
background-image:url(images/bg_body_head.png);
background-repeat:repeat-x;
font-family:helvetica, arial, verdana, sans-serif;
font-size:12pt;
}

ul, li{
margin:0;
padding:0;
}

a{
text-decoration:none;
color:#000;
}

.break-float{
clear:both;
}

#wrapper{
width:990px;
min-height:500px;
border-left:2px solid #666;
border-right:2px solid #666;
margin:auto;
padding-top:50px;
}

div#table-content{
display:table;
}

.colonne {
display:table-cell;
}

/*colonne1*/
.colonne:first-child {
width:20px;
background-image:url(images/bg_colonne1.png);
background-repeat:no-repeat;
background-position:left 100px;
}

/*colonne2*/
.colonne + .colonne {
width:270px;
background-image:url(images/bg_colonne2.png);
background-repeat:repeat-x;
background-position:left 100px;
background-color:rgba(72,68,59,0.7);
border-radius:18px 18px 0px 0px;
}

/*colonne3*/
.colonne + .colonne + .colonne {
width:690px;
background:url(images/bg_colonne3.png) no-repeat left 100px,
           url(images/bandeau_sup_jambe.png) no-repeat 454px 272px;
background-color:rgba(72,68,59,0);
padding:10px;
}


div#titre-site{
width:270px;
height:70px;
color:#ff9400;
text-align:center;
padding-top:30px;
}

div#top-search{
height:100px;
text-align:right;
padding-right:20px;
}

div#header{
height:181px;
}


div#navigation{
min-height:181px;
padding:1em 0;
margin-bottom:2em;
background: -moz-linear-gradient(top,  rgba(63,59,47,0.9) 0%, rgba(88,84,70,0.9) 9%, rgba(163,158,138,0.74) 36%, rgba(166,161,141,0.74) 37%, rgba(166,161,141,0.74) 63%, rgba(164,159,139,0.74) 64%, rgba(91,86,68,0.9) 97%, rgba(84,79,62,0.9) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,59,47,0.9)), color-stop(9%,rgba(88,84,70,0.9)), color-stop(36%,rgba(163,158,138,0.74)), color-stop(37%,rgba(166,161,141,0.74)), color-stop(63%,rgba(166,161,141,0.74)), color-stop(64%,rgba(164,159,139,0.74)), color-stop(97%,rgba(91,86,68,0.9)), color-stop(100%,rgba(84,79,62,0.9))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(63,59,47,0.9) 0%,rgba(88,84,70,0.9) 9%,rgba(163,158,138,0.74) 36%,rgba(166,161,141,0.74) 37%,rgba(166,161,141,0.74) 63%,rgba(164,159,139,0.74) 64%,rgba(91,86,68,0.9) 97%,rgba(84,79,62,0.9) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(63,59,47,0.9) 0%,rgba(88,84,70,0.9) 9%,rgba(163,158,138,0.74) 36%,rgba(166,161,141,0.74) 37%,rgba(166,161,141,0.74) 63%,rgba(164,159,139,0.74) 64%,rgba(91,86,68,0.9) 97%,rgba(84,79,62,0.9) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(63,59,47,0.9) 0%,rgba(88,84,70,0.9) 9%,rgba(163,158,138,0.74) 36%,rgba(166,161,141,0.74) 37%,rgba(166,161,141,0.74) 63%,rgba(164,159,139,0.74) 64%,rgba(91,86,68,0.9) 97%,rgba(84,79,62,0.9) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(63,59,47,0.9) 0%,rgba(88,84,70,0.9) 9%,rgba(163,158,138,0.74) 36%,rgba(166,161,141,0.74) 37%,rgba(166,161,141,0.74) 63%,rgba(164,159,139,0.74) 64%,rgba(91,86,68,0.9) 97%,rgba(84,79,62,0.9) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e63f3b2f', endColorstr='#e6544f3e',GradientType=0 ); /* IE6-9 */

}

div#navigation li{
list-style-type:none;
font-size:1.2em;
line-height:30px;
padding:10px 15px;
margin:0px 20px;
border-bottom:2px ridge rgba(80,78,68,0.7);
}

div#navigation li a{
color:#e4ddb5;
text-shadow:2px 2px 2px rgba(50,50,50,0.8);
}

div#navigation li a:hover{
color:#f6eec5;
text-shadow:-1px -1px 2px rgba(50,50,50,0.8);
}


div#derniere-publication{
min-height:181px;
padding:1em 0;
margin-bottom:2em;
background: -moz-linear-gradient(top,  rgba(63,59,47,0.9) 0%, rgba(88,84,70,0.9) 9%, rgba(163,158,138,0.74) 36%, rgba(166,161,141,0.74) 37%, rgba(166,161,141,0.74) 63%, rgba(164,159,139,0.74) 64%, rgba(91,86,68,0.9) 97%, rgba(84,79,62,0.9) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,59,47,0.9)), color-stop(9%,rgba(88,84,70,0.9)), color-stop(36%,rgba(163,158,138,0.74)), color-stop(37%,rgba(166,161,141,0.74)), color-stop(63%,rgba(166,161,141,0.74)), color-stop(64%,rgba(164,159,139,0.74)), color-stop(97%,rgba(91,86,68,0.9)), color-stop(100%,rgba(84,79,62,0.9))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(63,59,47,0.9) 0%,rgba(88,84,70,0.9) 9%,rgba(163,158,138,0.74) 36%,rgba(166,161,141,0.74) 37%,rgba(166,161,141,0.74) 63%,rgba(164,159,139,0.74) 64%,rgba(91,86,68,0.9) 97%,rgba(84,79,62,0.9) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(63,59,47,0.9) 0%,rgba(88,84,70,0.9) 9%,rgba(163,158,138,0.74) 36%,rgba(166,161,141,0.74) 37%,rgba(166,161,141,0.74) 63%,rgba(164,159,139,0.74) 64%,rgba(91,86,68,0.9) 97%,rgba(84,79,62,0.9) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(63,59,47,0.9) 0%,rgba(88,84,70,0.9) 9%,rgba(163,158,138,0.74) 36%,rgba(166,161,141,0.74) 37%,rgba(166,161,141,0.74) 63%,rgba(164,159,139,0.74) 64%,rgba(91,86,68,0.9) 97%,rgba(84,79,62,0.9) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(63,59,47,0.9) 0%,rgba(88,84,70,0.9) 9%,rgba(163,158,138,0.74) 36%,rgba(166,161,141,0.74) 37%,rgba(166,161,141,0.74) 63%,rgba(164,159,139,0.74) 64%,rgba(91,86,68,0.9) 97%,rgba(84,79,62,0.9) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e63f3b2f', endColorstr='#e6544f3e',GradientType=0 ); /* IE6-9 */

}

div#derniere-publication h2{
border-top:1px solid #7c755f;
border-bottom:1px solid #7c755f;
background-color:rgba(131,124,102,0.3);
color:#ffc400;
font-size:1em;
text-align:right;
padding-right:5px;
line-height:2.1em;
}


div#derniere-publication li{
list-style-type:none;
list-style-image:url(images/li.gif);
list-style-position:inside;
font-size:1em;
line-height:30px;
padding:10px 15px;
margin:0px 20px;
border-bottom:2px ridge rgba(80,78,68,0.7);
}

div#derniere-publication li a{
color:#ffd240;
text-shadow:2px 2px 2px rgba(50,50,50,0.8);
}

div#derniere-publication li a:hover{
color:#fff9c9;
text-shadow:-1px -1px 2px rgba(50,50,50,0.8);
}

div#derniere-publication .publication-date{
display:block;
font-size:0.8em;
color:#ffd36d;
}




div#main-content{
    
}




div#footer{
background-color:#000;
min-height:200px;
}

div#logo{
float:left;
width:270px;
height:125px;
margin-left:20px;
background-color:rgba(72,68,59,0.7);
border-radius:0px 0px 18px 18px;
background-image:url(images/logoGDW_web2.png); 
background-repeat:no-repeat;
background-position:center 10px;   
}

div#copyright{
float:right;
padding-top:10px;
width:500px;
color:#eee;
font-size:0.7em;
text-align:center;
}


#partenaire{
margin-top:20px;
}

.partenaire-info{
display:block;
color:#999;
font-size:0.6em;
font-weight:normal;
margin-bottom:4px;
margin-right:3px;
}

#logo-tourisme-wallonie,
#logo-wallonie-bruxelles-tourisme,
#feder-logo{
float:right;
margin:0px 10px;
text-align:center;
}

#feder-logo img{
margin:auto;
}


















/*** PLONE ELEMENT ***/
#content-core{
}

#content .state-published {
color:#a46c00 !important;
font-variant:small-caps;
font-size:1.2em;
text-decoration:none;
}

#content .state-published:hover {
color:#fff !important;
}

#content .description {
color:#666666;
font-weight:bold;
font-size:0.9em;
font-family:"Helvetica Neue",Arial,FreeSans,sans-serif;
margin-left:18px;
}

#content a:link{
border-bottom:none;
}

#content a:visited{
/*color:#779;*/
border-bottom:none;
}

.contenttype-document {
background-image:url(ul.gif);
background-repeat:no-repeat;
background-position:12px center;
}

.contenttype-folder {
background-image:url(fleche.png);
background-repeat:no-repeat;
background-position:3px center;
}

.contenttype-folder:hover {
background-image:url(fleche_over.png);
}

#content-core{
color:#48443B;
font:85% Arial,FreeSans,sans-serif;
}

#content .documentDescription, #content #description, #content .description {
color:#444;
font:bold 1.25em "Helvetica Neue",Arial,FreeSans,sans-serif;
margin-left:0;
margin-right:150px;
}


/*barre verte edit*/
#edit-bar, #content ul.formTabs {
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
border-style:none;
display:block;
margin-left:0;
}

#edit-bar {
background-image:url(edit_menu_bckg.png);
background-color:transparent;
border-left:3px solid #d7dfce;
border-right:3px solid #d7dfce;
font-size:80%;
margin-bottom:1em;
min-height:2em;
}

#content-views {
background-color:transparent;
float:left;
}

#contentActionMenus {
background-color:transparent;
background-image:url(edit_action_menu_bckg.png);
border-left:1px solid #8da375;
border-right:1px solid #8da375;
float:right;
margin:0;
width:429px;
}

dl.actionMenu {
background-image:url(none);
float:right;
position:relative;
white-space:nowrap;
}

#contentActionMenus dl.actionMenu.activated dd {
background-color:transparent;
background-image:url(edit_action_menu_bckg.png);
color:White;
font-weight:bold;
z-index:5;
border-left:1px solid #8da375;
border-right:1px solid #8da375;
}

#contentActionMenus dl.actionMenu a{
background-color:transparent;
}

#contentActionMenus dl.actionMenu.activated dd {
border-bottom:0.5em solid #8da375;
right:-1px;
}

#document-action-pdf {
}

/*style table kupu*/
table.grid td, table.grid th {
border: 1px solid #888;
padding: 0.5em;
}

