/*** PLONE ***/

.searchSection label:hover {
color: #76797C;
}

#plone-document-byline{
margin-bottom:18px;
font-size:0.8em;
}

#portal-breadcrumbs{
color:#555;
}

#parent-fieldname-description{
color:#555;
margin-bottom:15px;
}

#content-core ul {
list-style-type: square;
margin-left: 20px;
}

#content-core ul li {
display: list-item;
list-style-image : url(ul.gif);
}

#content .state-published {
color:#a46c00 !important;
font-variant:small-caps;
font-size:1.2em;
text-decoration:none;
}

#content .state-published:hover {
color:#fff !important;
}

#content .description {
color:#666666;
font-weight:bold;
font-size:0.9em;
font-family:"Helvetica Neue",Arial,FreeSans,sans-serif;
margin-left:18px;
}

#content a:link{
border-bottom:none;
}

#content a:visited{
/*color:#779;*/
border-bottom:none;
}

.contenttype-document {
background-image:url(ul.gif);
background-repeat:no-repeat;
background-position:12px center;
}

.contenttype-folder {
background-image:url(fleche.png);
background-repeat:no-repeat;
background-position:3px center;
}

.contenttype-folder:hover {
background-image:url(fleche_over.png);
}

#content-core{
color:#48443B;
font:85% Arial,FreeSans,sans-serif;
}

#content .documentDescription, #content #description, #content .description {
color:#444;
font:bold 1.25em "Helvetica Neue",Arial,FreeSans,sans-serif;
margin-left:0;
margin-right:150px;
} 

.documentActions{
background-color:transparent;
position:relative;
padding-left:560px;
top:-35px;
margin-bottom:-20px;
}


#portal-breadcrumbs {
font-size:80%;
margin-bottom:1em;
margin-top:0px;
}

#document-toc{
background-color:#d7cbae;
border:1px solid #cdc1a4;
}

#document-toc .portletHeader{
background-color:transparent;
border-bottom:1px solid #cdc1a4;
padding-left:15px;
}

dl.toc dt {
font-weight:normal;
margin-left:0;
text-transform:uppercase;
}



dl.portlet ul.navTreeLevel0 > .navTreeItem {
background-image:url(line_menu.png);
background-repeat:no-repeat;
background-position:center bottom;
border-bottom:none;
line-height:2em;
padding:0.25em 53px;
}

dl.portlet ul.navTree .navTreeCurrentItem  {
background-color:transparent;
border-left:1em solid transparent;
margin-left:-1em;
margin-right:-1em;
}

dl.portlet a{
text-decoration:none;
}

dl.portlet a:hover{
color:#fff9cf !important;
}

.state-published  {
color:#d0c9a1 !important;
}

div#main-text .state-published{
color:#ff7200 !important;
}


dl.portlet dt, div.portletHeader {
line-height:2.5em;
font-size:1.3em;
text-shadow:1px 1px 1px rgba(255,255,255,0.7);
padding:0 1em;
text-align:right;
border-top: 1px solid #7c7561;
border-bottom: 1px solid #7c7561;
background: -moz-linear-gradient(top,  rgba(63,59,47,0.9) 0%, rgba(88,84,70,0.9) 9%, rgba(163,158,138,0.74) 36%, rgba(166,161,141,0.74) 37%, rgba(166,161,141,0.74) 63%, rgba(164,159,139,0.74) 64%, rgba(91,86,68,0.9) 97%, rgba(84,79,62,0.9) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,59,47,0.9)), color-stop(9%,rgba(88,84,70,0.9)), color-stop(36%,rgba(163,158,138,0.74)), color-stop(37%,rgba(166,161,141,0.74)), color-stop(63%,rgba(166,161,141,0.74)), color-stop(64%,rgba(164,159,139,0.74)), color-stop(97%,rgba(91,86,68,0.9)), color-stop(100%,rgba(84,79,62,0.9))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(63,59,47,0.9) 0%,rgba(88,84,70,0.9) 9%,rgba(163,158,138,0.74) 36%,rgba(166,161,141,0.74) 37%,rgba(166,161,141,0.74) 63%,rgba(164,159,139,0.74) 64%,rgba(91,86,68,0.9) 97%,rgba(84,79,62,0.9) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(63,59,47,0.9) 0%,rgba(88,84,70,0.9) 9%,rgba(163,158,138,0.74) 36%,rgba(166,161,141,0.74) 37%,rgba(166,161,141,0.74) 63%,rgba(164,159,139,0.74) 64%,rgba(91,86,68,0.9) 97%,rgba(84,79,62,0.9) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(63,59,47,0.9) 0%,rgba(88,84,70,0.9) 9%,rgba(163,158,138,0.74) 36%,rgba(166,161,141,0.74) 37%,rgba(166,161,141,0.74) 63%,rgba(164,159,139,0.74) 64%,rgba(91,86,68,0.9) 97%,rgba(84,79,62,0.9) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(63,59,47,0.9) 0%,rgba(88,84,70,0.9) 9%,rgba(163,158,138,0.74) 36%,rgba(166,161,141,0.74) 37%,rgba(166,161,141,0.74) 63%,rgba(164,159,139,0.74) 64%,rgba(91,86,68,0.9) 97%,rgba(84,79,62,0.9) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e63f3b2f', endColorstr='#e6544f3e',GradientType=0 ); /* IE6-9 */


}


dl.portlet dt a:link, dl.portlet dt a:visited, dl.portlet dt a:focus, dl.portlet dt a:hover {
border:medium none;
color:#9e1a00; /*#ffd531;*/  
display:block;
}

dl.portlet a:link, dl.portlet a:visited {
color:#ffd531;
border-bottom:none;
}

dl.portlet dd.portletFooter{
text-align:right;
padding:5px;
border-top: 1px solid #7c7561;
}

#content-views {
background-color:transparent;
float:left;
}

dl.actionMenu {
background-image:url(none);
float:right;
position:relative;
white-space:nowrap;
}

#content-core{
}

#content .state-published {
color:#a46c00 !important;
font-variant:small-caps;
font-size:1.2em;
text-decoration:none;
}

#content .state-published:hover {
color:#fff !important;
}

#content .description {
color:#666666;
font-weight:bold;
font-size:0.9em;
font-family:"Helvetica Neue",Arial,FreeSans,sans-serif;
margin-left:18px;
}

#content a:link{
border-bottom:none;
}

#content a:visited{
/*color:#779;*/
border-bottom:none;
}

.contenttype-document {
background-image:url(ul.gif);
background-repeat:no-repeat;
background-position:12px center;
}

.contenttype-folder {
background-image:url(fleche.png);
background-repeat:no-repeat;
background-position:3px center;
}

.contenttype-folder:hover {
background-image:url(fleche_over.png);
}

#content-core{
color:#48443B;
font:85% Arial,FreeSans,sans-serif;
}

#content .documentDescription, #content #description, #content .description {
color:#444;
font:bold 1.25em "Helvetica Neue",Arial,FreeSans,sans-serif;
margin-left:0;
margin-right:150px;
}

#content-views {
background-color:transparent;
float:left;
}

/*** KUPU style table kupu***/
table.grid td, table.grid th {
border: 1px solid #888;
padding: 0.5em;
}

.mceIframeContainer {
background-color: #FFFFFF;
}