/* GDWDOC */

/*
Gites de Wallonie
Plone Documentation

Affinitic 2010
www.affinitic.be

-----------------------------------------
colonne1    colonne2     colonne3
  rien        titre        search engine
              menu         texte
              parution
-----------------------------------------           
              footer
*/

body{
margin:0;
background-color:#e4d8bb;
background-image:url(images/bg_body_head.png);
background-repeat:repeat-x;
font-family:helvetica, arial, verdana, sans-serif;
font-size:12pt;
}

div#colonne1,
div#colonne2,
div#colonne3{
float:left;
}

/*colonne1*/
div#colonne1{
width:20px;
height:262px;
background-image:url(bg_colonne1.png);
background-repeat:no-repeat;
background-position:left 100px;
}

/*colonne2*/
div#colonne2{
width:270px;
height:1300px;
background-image:url(bg_colonne2.png);
background-repeat:repeat-x;
background-position:left 100px;
background-color:#787263;
}

/*colonne3*/
div#colonne3{
width:630px;
background-image:url(bg_colonne3.png);
background-repeat:no-repeat;
padding:10px;
}

div#titre-site{
width:270px;
height:70px;
color:#ff9400;
text-align:center;
padding-top:30px;
background-color:rgba(72,68,59,0.7);
border-radius:18px 18px 0px 0px;
}

div#top-search{
height:100px;
text-align:right;
padding-right:20px;
}

div#header{
height:181px;
}

div#main-text{
position:relative;
top:-10px;
background-image:url(bandeau_sup_jambe.png);
background-repeat:no-repeat;
background-position:464px -10px;
}

div#footer{
background-color:#000;
min-height:200px;
}

div#logo{
float:left;
width:270px;
height:125px;
margin-left:20px;
background-color:rgba(72,68,59,0.7);
border-radius:0px 0px 18px 18px;
background-image:url(images/logoGDW_web2.png); 
background-repeat:no-repeat;
background-position:center 10px;   
}

div#copyright{
float:right;
padding-top:10px;
width:500px;
color:#eee;
font-size:0.7em;
text-align:center;
}


#partenaire{
margin-top:20px;
}

.partenaire-info{
display:block;
color:#999;
font-size:0.6em;
font-weight:normal;
margin-bottom:4px;
margin-right:3px;
}

#logo-tourisme-wallonie,
#logo-wallonie-bruxelles-tourisme,
#feder-logo{
float:right;
margin:0px 10px;
text-align:center;
}

#feder-logo img{
margin:auto;
}



/* PLONE */

/* fix shift on content views list under ie6 */
*html ul#content-views{
    margin: -2px -3px 0px -3px;
}

/* removes extra space above logo */
#portal-logo {
    margin-top: 0;
}

/* ensures hidden elements don't take up space */
.hiddenStructure {
    position: absolute;
}

/* IE8: keeps livesearch from falling behind content area,
   and display menu from falling behind footer
   Keeping float for IE7, so the portlets don't fall */
div.cell {
    float: none;
    *float: left;
}
/* IE7: fixes super-wide div for JavaScript Tag selector */
div.optionsBox {
    !width: 50%;
}
.optionsBox input {
    !margin: 0px;
}